@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.title,.buttons{
    display:flex;
    justify-content: center;
    align-items:center;
    height:102svh;
    flex-direction:column;
    gap:0px;

}
.buttons{
    height:15px;
    flex-direction:row;
    gap:2%;
    background-color:transparent;
}


a{
    text-decoration:none;
    color:transparent;
    background:linear-gradient(90deg, rgba(89,0,255,1) 0%, rgb(143, 6, 255) 27%, rgb(249, 65, 255) 73%);
    background-clip:text; 
    font-size:2em;
    filter:drop-shadow(0 0 40px rgb(114, 58, 58));
    padding:10px;
    border-radius:10px;
}
body{
    font-family:'Poppins';
    font-weight:bold;
    margin:0;

    user-select:none;
    background-color: #ffffff;
    background-image: radial-gradient(circle, #7c003a 1px, transparent 1px);
    background-position: 0 0;
    background-size: 50px 50px;
    
}
h1{
    margin:0px;
    filter:drop-shadow(0 0 40px rgb(92, 92, 92));
}

.leo{
    font-size:100px;
    color:transparent;
    background:linear-gradient(90deg, rgba(89,0,255,1) 0%, rgba(177,6,255,1) 27%, rgba(255,65,174,1) 73%, rgba(255,35,172,1) 78%);
    background-clip:text; 
}
.davinci{
    font-size:50px;
    background:linear-gradient(90deg, rgba(19,0,54,1) 0%, rgba(37,0,54,1) 27%, rgba(47,0,27,1) 59%, rgba(41,0,25,1) 78%);
    background-clip:text; 
    color:transparent;
    
}
.credits{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}
.ch1{
    

    font-size:3em;
    background:linear-gradient(90deg, rgba(89,0,255,1) 0%, rgba(177,6,255,1) 27%, rgba(255,65,174,1) 73%, rgba(255,35,172,1) 78%);
    background-clip:text;
    color:transparent;

}
.credits{
    display:flex;
    justify-content: center;
    align-items: center;
    height:10em;
    background:linear-gradient(rgb(255, 0, 191,.2),rgb(255, 0, 106,.2),rgb(255, 0, 0,.2));
    box-shadow:0 0 70px rgb(124, 124, 124);
    margin:60px;
    border-radius:10px;
    backdrop-filter: blur(3px);
}

