@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.title,.buttons{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100dvh;
    flex-direction:column;
    gap:0px;

}
.buttons{
    height:15px;
    flex-direction:row;
    gap:2%;
    background-color:transparent;
}


a{
    text-decoration:none;
    color:transparent;
    background:linear-gradient(90deg, rgba(89,0,255,1) 0%, rgb(143, 6, 255) 27%, rgb(249, 65, 255) 73%);
    background-clip:text; 
    font-size:2em;
    filter:drop-shadow(0 0 40px rgb(114, 58, 58));
    padding:10px;
    border-radius:10px;
}

body{
    text-align:center;
    font-family:'Poppins';
    font-weight:bold;
    margin:0;
    background-attachment:scroll;
    user-select:none;
    background-color: #ffffff;
    background-image: radial-gradient(circle, #7c003a 1px, transparent 1px);
    background-position: 0 0;
    background-size: 50px 50px;
    transition:all .5s ;
    overflow-x:hidden;
}
h1{
    margin:0px;
    filter:drop-shadow(0 0 40px rgb(92, 92, 92));
}

.leo,.leo2{
    font-size:650%;
    color:transparent;
    background:linear-gradient(90deg, rgba(89,0,255,1) 0%, rgba(177,6,255,1) 27%, rgba(255,65,174,1) 73%, rgba(255,35,172,1) 78%);
    background-clip:text; 
    background-attachment: fixed;
}
p,a{
    color:transparent;
    background:linear-gradient(90deg, rgb(159, 108, 255) 0%, rgb(212, 120, 255) 27%, rgb(255, 119, 196) 73%, rgb(255, 120, 203) 78%);
    background-clip:text; 
}
a{
    font-size:20px;
    transition:all 1s !important;
}
a:hover{ 
    rotate:360deg;
    text-shadow:0 0 100px rgb(151, 151, 151);
}
.davinci{
    font-size:50px;
    background:linear-gradient(90deg, rgba(19,0,54,1) 0%, rgba(37,0,54,1) 27%, rgba(47,0,27,1) 59%, rgba(41,0,25,1) 78%);
    background-clip:text; 
    color:transparent;
    
}

.ch1{
    

    font-size:3em;
    background:linear-gradient(90deg, rgba(89,0,255,1) 0%, rgba(177,6,255,1) 27%, rgba(255,65,174,1) 73%, rgba(255,35,172,1) 78%);
    background-clip:text;
    color:transparent;

}
.credits{
    display:flex;
    justify-content: center;
    align-items: center;
    
    flex-direction:column !important;
    height:fit-content;
    padding:40px;
    background:linear-gradient(rgb(255, 0, 191,.1),rgb(255, 0, 106,.1),rgba(255, 0, 64, 0.1));
    box-shadow:  20px 20px 60px #a7a7a7,-20px -20px 60px #ffffff;
    margin:60px;
    border-radius:10px;
    backdrop-filter: blur(1px);
}

.a,.b{
    background:linear-gradient(rgba(174, 0, 255, 0.1),rgba(255, 0, 221, 0.1),rgba(255, 0, 98, 0.1));
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    padding:20px;
    border-radius:10px;
    backdrop-filter: blur(1px);
    transition:all .5s !important;
}
.a:hover,.b:hover{
    background:linear-gradient(rgba(174, 0, 255, 0.1),rgba(255, 0, 221, 0.1),rgba(255, 0, 98, 0.1));
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    padding:25px;
    border-radius:15x;
    backdrop-filter: blur(5px);
    filter:grayscale(50%);
}

.frame{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:40px;
    flex-direction:row !important;
    margin:10px;
}
img{
    border-radius:10px;
    transition:all 1s !important;
}
.credits2{
    display:flex;
    
    justify-content: center;
    align-items: center;
    height:fit-content;
    flex-direction:column;
    padding:40px;
    background:linear-gradient(rgb(255, 0, 191,.1),rgb(255, 0, 106,.1),rgba(255, 0, 64, 0.1));
    box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
    margin:9%;
    border-radius:10px;
    backdrop-filter: blur(1px);
    
}
.img{
    
 
    box-shadow:  20px 20px 60px #424242,-20px -20px 60px #ffd4e8;
    
}


@media only screen and (max-width: 600px) {
    .leo{
        font-size:450%;
    }
    .leo2{
        font-size:450%;
        text-align:center;
    }
    .ch1{
        font-size: 2.2em;
        text-align: center;
    }
    .credits{
        display:flex;
        
        justify-content: center;
        align-items: center;
        height:fit-content;
        padding:40px;
        background:linear-gradient(rgb(255, 0, 191,.1),rgb(255, 0, 106,.1),rgba(255, 0, 64, 0.1));
        box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
        margin:9%;
        border-radius:10px;
        backdrop-filter: blur(1px);
        
    }
    
    .credits2{
        display:flex;
        
        justify-content: center;
        align-items: center;
        height:fit-content;
        flex-direction:column;
        padding:40px;
        background:linear-gradient(rgb(255, 0, 191,.1),rgb(255, 0, 106,.1),rgba(255, 0, 64, 0.1));
        box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
        margin:9%;
        border-radius:10px;
        backdrop-filter: blur(1px);
        
    }
    .frame{
        
        flex-direction:column !important;

        
    }
    
    .buttons{
        height:15px;
        flex-direction:column;
        gap:100%;
        margin-bottom:30%;
        background-color:transparent;
    }
    img{
        height:80%;
        width:80%;
    }

}
.imgx{
    
    height:90%;
    width:90%;
    
    box-shadow:  20px 20px 60px #685c63,-20px -20px 60px #ffbcde;
}
